 

    <img src={{image_url}} alt="randomBeers" class="imgBeers">
    <div>
           <h1>{{ name }} </h1>
            <p><strong>{{tagline}}</strong></p>
            <p>{{description}}</p>

    </div>

 