
<section class="allBeers">
    <dl>
    {{#each beers}}
    <dt> {{ this.name }} </dt>
    <dd><img src={{image_url}} alt="beers" class="imgBeers">
    <br>
    {{this.description}}
    </dd>
    {{/each}}
</dl>
   
</section>
